[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[user]
	name = Arsalan Fazil
	email = arsalanfazil.dev@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
